<app-header></app-header>

<!-- use of interpolation -->
<h1>Helllo Angular - {{title}}</h1>
<app-login></app-login>

<!-- function calling in angular -->
<button (click)="getName('Deep')">click me</button>
<button (click)="getName('Anil')">click me Now</button>

<!-- event listeners in angular  -->
<!-- clickevent -->

<!-- <button (click)="getData()"> Log to Console</button>
<br> <br>
<input type="text" #box (keyup)="getKeyData(box.value)"  placeholder="Write Here" >
<input type="text" #box1 (keydown)="getKeyData(box1.value)"  placeholder="Write Here" >
<input type="text" #box2 (blur)="getKeyData(box2.value)"  placeholder="Write Here" >
<h1 (mouseover)="getKeyData('mouseOver')" >Deep Kumbhare</h1>
<h1 (mouseout)="getKeyData('leave Out')">On Leave</h1> -->

<h1>{{title}}</h1>
<input type="text" #box3 (keyup)="getBoxData(box3.value)" name="name" [disabled]=disabled>
<h2 id="box1">Value of Input Box is : {{displayVal}}</h2>


<h3>Get Title On Click</h3>
<input #box4 type="text" >
<button  (click)="getBoxDataOnClick(box4.value)">Click</button>
<h2>Value of input box is : {{displayName}}</h2>

<h1>Counter Example</h1>
<button (click)="increment()"> ++ </button>
<span> {{counter}} </span>
<button (click)="decrement()"> -- </button>

<!-- if-else in angular -->

<!-- <div *ngIf="show; else elseBlock">Content will be displayed if true</div>
<ng-template #elseBlock>
  When show is set to false;
</ng-template> -->

<div *ngIf="show; then ifBlock else elseBlock"></div>
<ng-template #ifBlock> Show is true </ng-template>
<ng-template #elseBlock>Show is false</ng-template>

<!-- switch case in angular -->
<div [ngSwitch]="color">
   <h1 *ngSwitchCase="'red'">Red color</h1>
   <h1 *ngSwitchCase="'green'">green color</h1>
   <h1 *ngSwitchCase="'blue'">blue color</h1>
   <h1 *ngSwitchCase="'orange'">orange color</h1>
   <h1 *ngSwitchCase="'black'">black color</h1>
   <h1 *ngSwitchDefault="''">Unknown Color  </h1>
</div>

<!-- for loop in angular  -->

<div *ngFor="let item of users">{{item}}</div>

<div *ngFor="let i of userObj">NAME: {{i.name}} -- Email: {{i.email}} -- Mobile: {{i.phone}}</div>

<!-- nested for loop in angular  -->

<ul *ngFor="let i of userNewObj">
  <li>{{i.name}}</li>
  <li>{{i.email}}</li>
  <li>Social Accounts</li>
  
  <ul *ngFor="let acc of i.socialAccounts">
    <li>{{acc}}</li>
  </ul>
</ul>

<!-- dynamic style binding -->
<h1 [style.color]="newCol" [style.backgroundColor]="newBackCol">Dynamic Binding</h1>
<button (click)="updateCol()">Change Color</button>

<!-- form in angular  -->
<h1>Basic Form</h1>
<form #basicForm="ngForm" (ngSubmit)="getFormData(basicForm.value)">
    <input type="text" ngModel name="name" placeholder="Enter Your Name" >
    <br/> <br/>
    <input type="email"  ngModel name="email" placeholder="Enter Your Email">
    <br/> <br/>
    <input type="password" ngModel name="password" placeholder="Enter your Password">
    <br/> <br/>
    <button>Register</button>
</form>

<hr>
<h1>name: {{formData.name}}</h1>
<h2>Email: {{formData.email}}</h2>
<h3>passwored: {{formData.password}}</h3>

<h1>Toggle in angular</h1>
<button (click)="toggle()">Toggle</button>
<p *ngIf="display">Content</p>

